/*菜品详情*/
body{background: #eee;}
.allianceApply{padding-bottom:30px;}
.allianceApply .text{background:#fff;border:1px solid #d5d5d5;margin:4px 4px 0;}
.allianceApply .text .top{background:#ecf3ff;border-bottom:1px solid #d5d5d5;height:30px;line-height:30px;padding-left:10px;}
.allianceApply .text .top span{font-size:13px;color:#191919;}
.allianceApply .text .cont ul li{list-style-type:square; margin:5px 8px 5px 30px;color:#414141;font-size:12px;}
.allianceApply .contNav{margin-top:16px;background:#fff; border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;position:relative;}
.allianceApply .contNav .btn{ width:45%; margin:10px 10px 10px auto; background:#d1d1d1;border-radius:0;padding:8px;border-radius:3px;}
.allianceApply .contNav .btn span{color:#fff; font-size: 18px;}
.allianceApply .contNav .apply{position:absolute;top:12px;left:10px;}
.allianceApply .contNav .apply>span{color:#414141;font-size:13px;}
.allianceApply .contNav .apply .hint {margin-left:22px;}
.allianceApply .contNav .apply .hint span{color:#378bff;font-size:12px;}