.category .tabNav{height:40px;border-bottom:1px solid #cbcbcb; background:#f5f5f5;}
.category .tabNav .btn-link{color:#838383;height:40px;padding: 8px 0;text-align: center;}
.category .tabNav .btn-link a{font-size:14px;color:#838383;}
.category .btn-link:hover, .category .btn-link:focus{color:#f45456;text-decoration:none;border-bottom:2px solid #f45456;}
.category .btn-link a:hover, .category .btn-link a:focus{text-decoration:none;}
.category .private ul{margin-top:8px;}
.category .private ul li{min-height:108px; padding:8px 10px;position:relative;border-bottom:1px solid #e8e9f1;}
.category .private ul li .photo{width:90px;height:90px;border:1px solid #eae9ee;position:absolute;left:10px;top:8px;}
.category .private ul li .photo img{width:100%;}
.category .private ul li .detail{margin-left:100px;}
.category .private ul li .detail .title span{font-size:15px;color:#525252;}
.category .private ul li .detail .explain{margin-top:5px;}
.category .private ul li .detail .explain span{font-size:12px;color:#9a9ba6;}
.category .private ul li .detail .price{position:relative;margin-top:5px;font-family:arial;}
.category .private ul li .detail .price .installment {color:#f65456;font-size:14px;}
.category .private ul li .detail .price .installment b{font-size:18px;}
.category .private ul li .detail .price .installment span{font-size:11px;margin-left:5px;}
.category .private ul li .detail .price .buy{position:absolute;right:0;top:5px;text-align:right;}
.category .private ul li .detail .price .buy span{color:#9c9c9c;font-size:11px;}