body,div,ul,li,h1,h2,p,input,select{margin:0;padding:0}
body{font-size:1em}
h1,h2{font-weight:normal}
li{list-style-type:none}
img{border:0}
a{text-decoration:none;color:#333,display: inline-block;
*display: inline;
*zoom: 1;}

.border{
	background: #fff;
	border: 1px solid #c4c4c4;
}
/*header*/
.header{height:45px;background:#368bff;text-align:center;}
.header .title span{color:#fff;font-size:16px;display:block;padding-top:12px;}
.header .register{ color:#fff; text-align:right;}
.header .register span{font-size:14px;}
.header .back{height: 100%;background:url(../img/arrowLeft.png) 15px center no-repeat;background-size:10px 19px;}
.header .rightNav{height: 100%;background:url(../img/rightNav.png) right 15px center no-repeat;background-size:22px 15px;}

/*侧导航*/
.sideNav{width:218px; min-height:100%; background:#2764b5; border-left:2px solid #17325d;position:absolute;right:0px;}
.sideNav ul{margin-top:58px;}
.sideNav ul li:focus,.sideNav ul li:hover{background:#21549a;}
.sideNav ul li .pLeft{padding-left:90px;}
.sideNav ul li .home{background:url(../img/sideNav_home.png) 34px center no-repeat;background-size:22px 18px;}
.sideNav ul li .product{background:url(../img/sideNav_product.png) 34px center no-repeat;background-size:22px 16px;}
.sideNav ul li .individual{background:url(../img/sideNav_individual.png) 34px center no-repeat;background-size:20px 18px;}
.sideNav ul li .installment{background:url(../img/sideNav_installment.png) 34px center no-repeat;background-size:22px 16px;}
.sideNav ul li .advisory{background:url(../img/sideNav_advisory.png) 34px center no-repeat;background-size:22px 18px;}
.sideNav ul li .bArrow{background:url(../img/sideNav_bArrow.png) right 10px center no-repeat;background-size:22px 13px;}
.sideNav ul li .tArrow{background:url(../img/sideNav_tArrow.png) right 10px center no-repeat;background-size:22px 13px;}
.sideNav ul li .nav,.sideNav ul .subfolder ul li{height:52px;line-height:52px; border-bottom:1px solid #688fc6;}
.sideNav ul li .nav span,.sideNav ul .subfolder ul li a{color:#fff;font-size:13px;}
.sideNav ul .subfolder ul{margin-top:0;padding-left:90px;}
.sideNav ul .subfolder ul li a:hover,.sideNav ul .subfolder ul li a:focus{text-decoration:none;}
.sideNav ul .subfolder ul li:focus,.sideNav ul .subfolder ul li:hover{background:none;}

/* 表格样式覆盖 */
.form-control{
	padding-left: 0;
	padding-right: 0;
}
.form-control:focus{
	border: none;
	box-shadow:none;
	-webkit-box-shadow:none;
}
.form-group{
	margin: 0 !important;
}
.form-group label{
	padding-left: 0px;
	padding-right: 0px;
	padding-top:8px;
	font-weight: normal;
	font-size: 14px;
}
.form-group input{
	border: none;
	background: none;
	outline: none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.form-group textarea{
	border: none;
	background: none;
	outline: none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.form-group select{
	background: none;
	border: none;
	width: 100%;
	outline: none;
}
.form-group .cnt{
	padding: 0 !important;
}

/* ul li 列表 样式*/
.li_cnt{
	padding-left: 16px;
	padding-right: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}
.list_gray{
	color: #838383;
}
.list_back{
	color: #3d3d3d;
}

/*按钮样式*/
.btn{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
}

/*选择按钮*/
.bt_select{
	display:inline-block; 
	margin:0 5px 10px 0; 
	line-height:30px;
	width:85px;
	text-align:center;
	border:1px solid #a4a4a4;
	border-radius:2px;
	font-size:14px;
	color:#595959;
}
.bt_checked{
	background:url(../img/stages_checked.png) right bottom no-repeat;
	background-size:12px;
	border-color:#378bff!important;
}

/*tab样式*/
.nav-tabs{
	border-bottom: none;
}
.nav-tabs>li>a{
	border-radius:0;
	border: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border: none;
	background: none;
}

/*分期图标*/
.selecting{margin: 0 30px 0 8px;padding:13px 0;}

.selecting .checked{background:url(../img/payment_radio2.png) left center no-repeat;background-size:16px;}
.selecting div{padding-left:28px;font-size:13px;color:#595959;line-height: 22px;height: 20px;}
.selecting div span{font-size:11px; color:#797979;}
.selecting .icon_credit{background:url(../img/icon_credit.png) left center no-repeat;background-size:20px;}
.selecting .icon_noCredit{background:url(../img/icon_noCredit.png) left center no-repeat;background-size:20px;}
.selecting .icon_unionpay{background:url(../img/icon_unionpay.png) left center no-repeat;background-size:20px;}
.selecting .icon_arrive{background:url(../img/icon_arrive.png) left center no-repeat;background-size:20px;}
.selecting .icon_about_us{background:url(../img/icon_about_us.png) left center no-repeat;background-size:20px;}

/*分页样式*/
.footRager .pager{margin: 16px 0;}
.footRager .pager li>a{border:none;color:#595959;font-size:12px;}
.footRager .pager li>a:hover,.footRager .pager li>a:focus{border:none;background-color:#fff;font-size:12px;}
.footRager .pager .text{width:90px; height:27px; border:1px solid #a4a4a4;border-radius:2px;background:#f8f8f8;display: inline-block;}
.footRager .pager .text>input{border:none;width:100%;text-align:center;background:none;outline:none;padding:5px;}

/*上下箭头 另外给高度和宽度 父辈加position:relative;*/
.hasArrows{
	position:relative;
}
.arrowsHide{background:url(../img/arrows_hide.png) center no-repeat;background-size:15px 10px;position:absolute;right: 0;top: 0;height:100%;width:40px;}
.arrowsShow{background:url(../img/arrows_show.png) center no-repeat;background-size:15px 10px;position:absolute;right: 0;top: 0;height:100%;width:40px;}

/*圆圈*/
.circle_bg{
	width:20px; 
	height:20px; 
	background-color:#F00; 
	border-radius:10px;
}
.circle_cnt{
	height:20px; 
	line-height:20px; 
	display:block; 
	color:#FFF; 
	text-align:center
}






