body{
	background: #eeeeee;
}
.info{
	margin-top: 10px;
	margin-left: 4px;
	margin-right: 4px;
}
.info .address,.info .invoice,.info .add_address_til,.info .address_list,.info .recommend,.info .add_address{
	background: #fff;
	border: 1px solid #c4c4c4;
}
.info .invoice,.info .recommend,.info .add_address,.info .address{
	border-bottom: none;
}
.info ul li{
	border-bottom: 1px solid #c4c4c4;

}
.info ul li{
	border-bottom: 1px solid #c4c4c4;
}
.info .btn{
	background: #f65456 !important;
	border: none;
}
.info a{
	color: #575757;
}
.tb table{
	width: 100%;
	
}
.tb table td{
	border: 1px solid #e6e5e5;
	padding: 5px 15px;
}

/* 地址部分 */
.info .address ul li .fill_til{
	color: #5a5a5a;
}
.info .address ul li .fill_til_desc{
	color: #838383;
	font-size: 12px;
}
.info .address .fill_content{
	background: #fbfbfb;
}
.info .address .fill_content label{
	color: #b0aeae;
}
.info .form-horizontal label{
	width: 25%;
}
.info .form-horizontal .cnt{
	width: 75%;
}
.info .form-group select{
	margin-top: 8px;
}

/* 发票部分 */
.invoice{
	margin-top: 13px;
}
.invoice_name{
	background: #fbfbfb;
	color: #595959;
}
.invoice_cnt{
	background: #eeeeee;
	color: #595959;
}
.invoice .form-group div{
	padding-left:0; 
}

/*选择地址*/
.info .add_address_til{
	margin-bottom: 8px;
}
.info .address_list{
	margin-bottom: 8px;
	font-size: 14px;
}
.info .address_list .set_default{
	padding-left: 16px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 1px;
	font-size: 14px;
	text-align: right;
}
.info .address_list .edit_btn div{
	text-align: center;
	margin-top: 2px;
	height: 38px;
	line-height: 38px;
	border-top:1px solid #e8e9f1;
}

/*套餐选择*/
.per_year_til{
	width: 28%;
}
.per_year_til ul{
	border-right: 1px solid #e8e9f1;
}
.per_year_til ul .selected{
	background: #fff;
	color: #f65467;
	border-left: 2px solid #f65467;
}
.per_year_til ul li{
	padding-left: 10%;
	padding-right: 10%;
	height: 43px;
	line-height: 43px;
	background: #eef5ff;
}
.per_year_til ul li input{
	display: none;
}
.per_year_cnt{
	width: 72%;
	margin-top: 8px;
	padding-left: 0;
	padding-right: 20px;
	font-size: 14px;
}
.per_year_cnt_p1 .size{
	margin-top: 5px;
}

.per_year_cnt_p2{
	margin-top: 8px;
}
.per_year_cnt_p2 .til{
	margin-bottom: 8px;
}
.per_year_cnt_p2 .combo_beyond{
	color:#7c8898;
	display: none;
	cursor: pointer;
}
.per_year_cnt_p2 .arrowsHide{
	height:18px;
	width:40px;
	top:2px;
}
.per_year_cnt_p2 .arrowsShow{
	height:18px;
	width:40px;
	top:2px;
}
.show_msg{
	padding: 10px;
	height: 60px;
	font-size: 14px;
}
.show_msg .til{
	color: #f65456;
}

/* 选号码 */
.number .number_til{
	padding: 10px;
}
.number ul{

}
.number ul li{
	border: none;
	background: #f8f8f8;
	border-top: 1px solid #a4a4a4;
	border-bottom: 1px solid #a4a4a4;
	border-right: 1px solid #a4a4a4;
	padding: 0;
}
.number>.nav>li>a{
	padding: 10px 0;
	text-align: center;
}
.number>.nav-tabs>.active{
	border-bottom: 2px solid #f65456;
}
.number>.nav-tabs>.active a{
	color: #f65456;
	padding-bottom: 9px;
}
.number .bt_checked{
	border-top:1px solid #378bff !important;
}





