/*菜品详情*/
body{background: #eee;}
.productDetail{padding-bottom:30px;}
.productDetail .tabNav{height:44px;border-bottom:1px solid #cbcbcb; background:#fff;}
.productDetail .tabNav .btn-link{height:44px;padding: 10px 0;text-align:center;}
.productDetail .tabNav .btn-link a{font-size:14px;border-left:1px solid #b8b8b8;display:block;color:#838383;}
.productDetail .tabNav .btn-link:first-child a{border-left:none;}
.productDetail .btn-link:hover, .productDetail .btn-link:focus{color:#f45456;text-decoration:none;border-bottom:2px solid #f45456;}
.productDetail .btn-link a:hover, .productDetail .btn-link a:focus{text-decoration:none;}
.productDetail .productCont{background:#fff;border-bottom:1px solid #D5D5D5;}
.productDetail .productCont .productText{margin:8px 10px;}
.productDetail .productCont .productText .numTitle .price{font-size:15px;color:#f65467;font-family:arial;}
.productDetail .productCont .productText .numTitle .label{background:#378bff;color:#fff;font-weight:normal;padding:0 5px;line-height:18px; display:inline-block; position:relative;margin-left:15px;border-radius:0;}
.productDetail .productCont .productText .numTitle .label em{top:0;left:-9px;border-top:9px solid transparent;border-right:9px solid #378bff;border-bottom:9px solid transparent;position:absolute;top:0;}
.productDetail .productCont .productText .numTitle .label em b{background: #fff;padding: 1px;position: absolute;border-radius: 50%;left: 7px;top: -1px;}
.productDetail .productCont .productText .num{margin-top:4px;}
.productDetail .productCont .productText .num span{font-size:11px;color:#595959;font-family:arial;}
.productDetail .productCont .productText .norms{margin-top:6px;}
.productDetail .productCont .productText .norms span{font-size:11px;color:#595959;}
.productDetail .productInfo{background:#fff;border-bottom:1px solid #D5D5D5; border-top:1px solid #D5D5D5;margin-top:9px;padding-top:5px;}
.productDetail .productInfo ul>li {margin:0 6px 0 12px;}
.productDetail .productInfo ul>li .stages{position:relative;padding-left:83px;margin-top:11px;}
.productDetail .productInfo ul>li .stages>span{position:absolute;left: 0;top:4px; font-size:14px; color:#757575;}
.productDetail .productInfo ul>li .stages .address{display:inline-block;margin:0 5px 10px 0; line-height:30px; text-align:center;border:1px solid #a4a4a4;border-radius:2px;font-size:14px;color:#595959;position:relative;}
.productDetail .productInfo ul>li .stages .address .form-group select{padding:0 10px 0 5px;}
.productDetail .productInfo ul>li .stages .address i{height:100%;width:20px; background:url(../img/payment_bArrow.png) #fff right 10px center no-repeat;background-size:9px 5px;position:absolute;right:0;z-index:10;}
.productDetail .productInfo ul>li .stages .select{display:inline-block; margin:0 5px 10px 0; line-height:30px;width:85px;text-align:center;border:1px solid #a4a4a4;border-radius:2px;font-size:14px;color:#595959;}
.productDetail .productInfo ul>li .stages .subtract{border-radius:2px 0 0 2px;}
.productDetail .productInfo ul>li .stages .add{margin-left:-4px; border-radius:0 2px 2px 0;}
.productDetail .productInfo ul>li .stages .num{margin-left:-4px;}
.productDetail .productInfo ul>li .stages .add,.productDetail .productInfo ul>li .stages .num,.productDetail .productInfo ul>li .stages .subtract{display:inline-block; line-height:30px;width:44px;text-align:center;font-size:14px;color:#595959;border:1px solid #a4a4a4;margin-bottom:10px;}
.productDetail .productInfo ul>li .stages .checked{background:url(../img/stages_checked.png) right bottom no-repeat;background-size:12px;border-color:#378bff;}
.productDetail .productInfo ul>li .stages .stock{display:inline-block;}
.productDetail .productInfo ul>li .stages .stock span{font-size:12px;color:#f65456;}
.productDetail .noCredit{background:#fff;border-bottom:1px solid #D5D5D5; border-top:1px solid #D5D5D5;padding:10px 12px;margin-top:9px;position:relative;}
.productDetail .noCredit .title{padding-left:30px;background:url(../img/Credit.png) left center no-repeat;background-size:16px 12px;}
.productDetail .noCredit .title span{font-size:13px;color:#525252;}
.productDetail .noCredit .toggle{margin-top:6px;display:none;}
.productDetail .noCredit .toggle>span{font-style:12px;color:#f65456;display:block;}
.productDetail .noCredit .toggle>span:first-child{color:#525252;}
.productDetail .noCredit .arrowsHide{height:18px;width:40px;top:10px;}
.productDetail .noCredit .arrowsShow{height:18px;width:40px;top:10px;}
.productDetail .contNav{margin-top:16px;background:#fff; border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;position:relative;}
.productDetail .contNav .btn{ width:65%; margin:10px 10px 10px auto; background-color:#f65456;border-radius:0;padding:8px;border-radius:3px;}
.productDetail .contNav .btn span{color:#fff; font-size: 18px;}
.productDetail .contNav .collect{background:url(../img/collect.png) center no-repeat;background-size:22px;height:40px;width:60px; border-right:1px solid #a9a9a9;position:absolute;top:12px;}
.carousel{margin-top:10px;padding-bottom:20px;}
.carousel-indicators{bottom:-10px;}
.carousel-indicators>li{width:8px;height:8px;border:none;background:#dbd9da;margin:0;}
.carousel-indicators>li.active{width:8px;height:8px;border:none;background:#3a88ff;}

